<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link href="/assets/dashboard/img/favicon.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/dashboard/img/favicon.png" rel="icon" type="image/png">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>
        eQueue - Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
          rel="stylesheet"
          type="text/css"/>

    <link href="/assets/dashboard/css/material-dashboard.css?v=2.1.2" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->

    <link href="/lib/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="wrapper">

    <div class="sidebar" data-background-color="white" data-color="purple"
         data-image="/assets/dashboard/img/sidebar.jpg">

        <div class="logo"><span class="simple-text logo-normal">
          eQueue
        </span></div>
        <div class="sidebar-wrapper">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/home-page">
                        <i class="material-icons">home</i>
                        <p>Home Page</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/organizations">
                        <i class="material-icons">apartment</i>
                        <p>Organizations</p>
                    </a>
                </li>


                <li class="nav-item active">
                    <a class="nav-link" href="/contact">
                        <i class="material-icons">phone_in_talk</i>
                        <p>Contact</p>
                    </a>
                </li>


                <li class="nav-item  ">
                    <a class="nav-link" href="/profile">
                        <i class="material-icons">person</i>
                        <p>Profile</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                        <i class="material-icons">settings</i>
                        <p>Settings</p>
                    </a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" href="/logout">
                        <i class="material-icons">login</i>
                        <p>Login</p>
                    </a>
                </li>


            </ul>
        </div>
    </div>


    <div class="main-panel">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="">Contact</a>
                </div>
                <button aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>

            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">eQueue Contact</h4>
                            </div>
                            <div class="card-body p-5">


                                <form action="/update-contact" method="post">

                                    <input class="form-control" name="id" required
                                           th:value="${contact.id}" type="hidden">

                                    <div class="row mb-4">

                                        <div class="col">

                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <a aria-controls="nav-home" aria-selected="true"
                                                       class="nav-item nav-link active"
                                                       data-toggle="tab" href="#nav-en" id="nav-home-tab"
                                                       role="tab">English</a>
                                                    <a aria-controls="nav-profile" aria-selected="false"
                                                       class="nav-item nav-link"
                                                       data-toggle="tab" href="#nav-ar" id="nav-ar-tab"
                                                       role="tab">Arabic</a>
                                                </div>
                                            </nav>

                                            <div class="tab-content pt-5" id="nav-tabContent ">


                                                <div aria-labelledby="nav-en-tab" class="tab-pane fade show active"
                                                     id="nav-en" role="tabpanel">


                                                    <div class="row mt-4 ">

                                                        <div class="col-md-6 col-lg-5">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Address </label>
                                                                <input class="form-control" name="addressEn" required
                                                                       th:value="${contact.addressEn}" type="text">
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="row mt-4">

                                                        <div class="col-md-6 col-lg-5">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Phone</label>
                                                                <input class="form-control" name="phone"
                                                                       pattern="[+]?[0-9 ]{9,16}"
                                                                       required
                                                                       th:value="${contact.phone}"
                                                                       type="tel">

                                                            </div>
                                                        </div>


                                                    </div>


                                                    <div class="row mt-4">

                                                        <div class="col-md-6 col-lg-5">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Email </label>
                                                                <input class="form-control" name="email" required
                                                                       th:value="${contact.email}" type="email">

                                                            </div>
                                                        </div>


                                                    </div>


                                                    <div class="row mt-4">

                                                        <div class="col-md-6 col-lg-5">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Map </label>
                                                                <input class="form-control" name="map" required
                                                                       th:value="${contact.map}" type="url">

                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>

                                                <div aria-labelledby="nav-ar-tab" class="tab-pane fade" id="nav-ar"
                                                     role="tabpanel">

                                                    <div class="row mt-4 ">

                                                        <div class="col-md-6 col-lg-5">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Address </label>
                                                                <input class="form-control" name="addressAr" required
                                                                       th:value="${contact.addressAr}" type="text">

                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                    <div class="row mt-4">

                                        <div class="col d-flex align-items-center" th:if="${updateContactSuccessfully}">
                                            <span class="lnr lnr-checkmark-circle text-success mr-2"></span>
                                            <h6 class="text-success p-0 m-0">Successful</h6>
                                        </div>


                                        <div class="col d-flex align-items-center" th:if="${updateContactError}">
                                            <span class="lnr lnr-cross-circle text-danger mr-2"></span>
                                            <h6 class="text-danger p-0 m-0">Error</h6>
                                        </div>


                                        <div class="col">

                                            <button class="btn btn-primary float-right " type="submit">
                                                Update
                                            </button>

                                        </div>

                                    </div>


                                </form>


                            </div>

                        </div>


                    </div>
                </div>

            </div>


        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>

                    </ul>
                </nav>
                <div class="copyright">
                    © Copyright <strong><span>eQueue</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer>

    </div>


</div>


<!--   JS Files   -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/popper/popper.min.js"></script>
<script src="/assets/dashboard/js/bootstrap-material-design.min.js"></script>
<script src="/assets/dashboard/js/material-dashboard.min.js" type="text/javascript"></script>
</body>

</html>